@charset "utf-8";
/* CSS Document */
.wrap{width:980px!important;}
/*banner*/
.banner-out{padding-top: 118px;position:relative;}
.banner{height:600px;position:relative;}
.banner1{height:600px;width:100%;background:url(../img/banner.jpg) no-repeat center top;position: absolute;left:0;top: 0;}
.banner2{height:600px;width:100%;background:url(../img/banner2.jpg) no-repeat center top;position: absolute;left:0;top: 0;}

.banner-out ol{width:28px;height:10px;position:absolute;left:50%;bottom:30px;margin-left:-14px;}
.banner-out ol li{width:10px;height:10px;border-radius:5px;background:#CCCACA;}
.banner-out ol .pot1{background: #cc0000;}

/*main1*/
.main1{height:200px;padding:10px 0 20px 0;}
.main1 h2,.main2 h2,.main3-left h2,.main3-right h2{height:50px;line-height:50px;padding-left:42px;background:url(../img/hire-me.png) no-repeat left center;font-size:20px;font-weight:normal;color:#222222;}
.main1 p{line-height:25px;font-size:14px;}

/*main2*/
.main2{height:274px;background:#eee;padding-top:10px;overflow:hidden;}
.main2 h2{background-image:url(../img/library.png);}
.main2 ul{padding-left:8px;}
.main2 li{float:left;width:239px;margin-right:9px;}
.main2 ul a{width:239px;height:185px;display:inline-block;padding-bottom:8px;}
.main2 ul a img{border:1px solid #e3f2fa;padding:1px;}
.main2 li div{text-align:center;}
.main2 .wrap{position:relative;}
.main2 .next{width:39px;height:81px;position:absolute;right:-39px;top:110px;}

/*main3*/
.main3{height:220px;padding-top:10px;}
.main3-left h2{background-image:url(../img/star.png);}
.main3-right h2{background-image:url(../img/tag.png);}
.main3-left{width:640px;height:220px;margin-right:32px;}
.main3-left p{margin-bottom:5px;}
.main3-left p a{font-size:14px;font-family:"微软雅黑";color:#2e2e2e;}
.main3-left dd{width:434px;height:125px;line-height:21px;overflow:hidden;}


.main3-right{width:267px;height:220px;}
.main3-right li{margin-bottom:6px;padding-left:10px;background:url(../img/main3-right-bg.png) no-repeat left 5px;}
.main3-right li a{color:#2e2e2e;}
.main3-right li a:hover{color:#000;}
